
.popular-header{padding-left:30px}
.movie-lists{display:block;padding:0px 30px}
.movie-lists-item{background:#eee;padding:5px 20px 15px;margin:20px auto;list-style:none}
.user-list-item{padding:5px 0px;}
.no-favorite-user{color:#ff4444}